/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --backround-color: #FFF1F7;
  --main-color: #FF8DCB;
  --menu-color: #353430;
  --text-color: #353430;
  --caption-color: #353430;
  --accent-color: #FFC2E6;
  --background-img: url('../images/cover-image-light.png');
  --border-color: 50, 49, 45;

  .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .caption {
    color: var(--caption-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --backround-color: #FFF1F7;
    --main-color: #FF8DCB;
    --menu-color: #353430;
    --text-color: #353430;
    --caption-item-color: #353430;
    --caption-color:#353430;
    --accent-color: #FFC2E6;
    --background-img: url('../images/cover-image-light.png');
    --border-color: 50, 49, 45;
  }
  .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*.caption {
    color: var(--caption-color);
  }*/
  /* Остальные стили, только при необходимости */
} 

