/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --backround-color: #FFF1F7;
  --main-color: #FF8DCB;
  --menu-color: #353430;
  --text-color: #353430;
  --caption-color: #353430;
  --accent-color: #FFC2E6;
  --background-img: url('../images/cover-image-light.png');
  --border-color: 50, 49, 45;

  .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .before::after {
    display: none;
  }

  .caption {
    color: var(--caption-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --backround-color: #FFF1F7;
    --main-color: #FF8DCB;
    --menu-color: #353430;
    --text-color: #353430;
    --caption-item-color: #353430;
    --caption-color:#353430;
    --accent-color: #FFC2E6;
    --background-img: url('../images/cover-image-light.png');
    --border-color: 50, 49, 45;
  }
  .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .before::after {
    display: none;
  }

  html.theme-dark .visually-hidden {
        color: inherit;
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        border: initial;
        padding: initial;
        white-space: normal;
        clip-path: none;
        clip: auto;
        overflow: visible;
    }

  html.theme-dark .before::after {
    display: block;
    content: "";
    background-color: var(--menu-color);
    box-shadow: 0px 0px 4px 2px var(--menu-color);
    border-radius: 100%;
    height: 9px;
    width: 9px;
    align-self: center;
    margin: 0px 10px;
  }
  /*html:not(:has(.theme-dark)) .visually-hidden*/

  /*html:has(.theme-light) .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }*/

  /*html:has(.theme-dark) .visually-hidden {
    display: block;
  }*/

  /*html:not(:has(.theme-dark)) .visually-hidden {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
    
  html:has(.theme-dark) .visually-hidden {
    display: none;
  }*/


  /*.caption {
    color: var(--caption-color);
  }*/
  /* Остальные стили, только при необходимости */
} 

