/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --backround-color: #000028;
  --main-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #DB00FF;
  --padding: 10px;
}

.header__theme-menu {
  position: absolute;
  right: 10px;
  justify-content: center;
  top: 75px;
}

ul.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__theme-menu-button {
  background: transparent;
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  text-align: center;
  color: var(--main-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-start: 3px;
  padding-block-end: 3px;
  align-items: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--main-color);
}


/*.header__theme-menu-button:active {
  border: 1px solid var(--main-color);
}*/

.header__theme-menu-button:focus, .header__theme-menu-button:active{
  border-bottom: 1px solid var(--main-color);
}

ul {
  margin: 0;
}

.page {
  margin: 0;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--backround-color);
  padding: 0px var(--padding);
  background: url(../images/cover-image-dark.png);
  background-attachment: fixed;
}

.header {
  block-size: 100dvh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: end;
  /*padding-block-start: 4px;*/
}

.header::before {
  content: "";
  border-inline-end: 1px solid var(--main-color);
  border-block-start: 1px solid var(--main-color);
  color: var(--main-color);
  display: flex;
  justify-self: end;
  align-self: start;
  block-size: 25px;
  inline-size: 25px;
  top: var(--padding);
  position: relative;
  
  /*background: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-size: 9px;*/
}

.before::after {
  content: "";
  background-color: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-color);
  border-radius: 100%;
  height: 9px;
  width: 9px;
  align-self: center;
  margin: 0px 10px;

}

.before {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  position: absolute;
  top: var(--padding);
  color: var(--main-color);
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-self: end;
}

.header::after {
  content: "";
  border-inline-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
  color: #F1B2CE;
  block-size: 25px;
  inline-size: 25px;
  position: relative;
  align-self: end;
  justify-self: start;
  bottom: var(--padding);
  /*margin-block-start: 20px;*/
}

.item-header {
  align-self: center;
}

.main {
  margin: 40px 0px;
}

.section:not(:first-child){
  padding-block-start: 50px;
}

.section:last-child{
  padding-block-start: 35px;
}

.title-h1 {
  font-family: 'IBM Plex Mono';
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--accent-color);
  text-shadow: 4px 4px var(--main-color);
  font-weight: 700;
  margin: 0;
}

.underlined {
  text-shadow: 2px 2px var(--main-color);
}

.text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.caption {
  color: var(--main-color);
  font-weight: 700;
  margin-block-end: 20px;
  margin-block-start: 0px;
}

.caption-item {
  background-color: var(--main-color);
  color: black;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}

.item {
  background-color: var(--main-color);
  color: black;
  font-weight: 400;
  margin: 0;
  margin-block-start: 20px;
}

.regular {
  color: var(--text-color);
  font-weight: 400;
  margin: 0;
  margin-block-start: 10px;
}

.regular:not(:last-child) {
  margin-block-end: 20px;
}

.image {
  display: block;
  max-width: 100%;
  margin: 0;
  margin-block-start: 10px;
}

.footer {
  block-size: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer::before {
  content: "";
  border-inline-end: 1px solid var(--main-color);
  border-block-start: 1px solid var(--main-color);
  color: #F1B2CE;
  justify-self: flex-end;
  align-self: start;
  block-size: 25px;
  inline-size: 25px;
  position: relative;
  top: 10px;
}

.footer::after {
  content: "";
  border-inline-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
  color: #F1B2CE;
  block-size: 25px;
  inline-size: 25px;
  position: relative;
  align-self: end;
  justify-self: start;
  bottom: 10px;
  left: 0px;
}

.title-footer {
  text-shadow: 2px 2px var(--main-color);
}






/*@media (width>375px) {
  .item-header {
    justify-self: end;
    max-inline-size: 364px;
  }
  .why-hard {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .why-hard.caption {
    grid-column: 1;
  }

  .caption-item {
    grid-column: 2;
    block-size: min-content;
  }

  .regular {
    grid-column: 2;
  }

  .how-to-concentrate{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content auto;
  }

  .how-to-concentrate.caption {
    grid-column: 1;
    grid-row: 1;
  }

  .how-to {
    grid-row: 2;
    grid-column: span 2;
    display: block;
    grid-auto-flow: row;
  }
}*/

@media (width>376px) {
  :root {
    --padding: 20px;
  }

  .item-header {
    align-self: center;
    justify-self: end;
    width: 364px;
  }

  .title-h1 {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  
}