/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.visually-hidden {
    color: var(--visually-hidden-color);
    position: var(--visually-hidden-position);
    width: var(--visually-hidden-size);
    height: var(--visually-hidden-size);
    margin: var(--visually-hidden-margin);
    border: var(--visually-hidden-gap);
    padding: var(--visually-hidden-gap);
    white-space: var(--visually-hidden-white-space);
    clip-path: var(--visually-hidden-clip-path);
    clip: var(--visually-hidden-clip);
    overflow: var(--visually-hidden-overflow);
}


.header__theme-menu {
  position: relative;
  justify-content: center;
  top: 50px;
  align-self: start;
  justify-self: end;
}

ul.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__theme-menu-button {
  background: transparent;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--menu-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-start: 2px;
  padding-block-end: 4px;
  align-items: center;
}



.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
}

.header__theme-menu-button:focus, .header__theme-menu-button:focus-visible {
  border: 1px transparent;
  border-block-end: 1px solid var(--menu-color);
  outline: none;
  margin-bottom: -1px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-color);
}

ul {
  margin: 0;
}

.page {
  margin: 0;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--backround-color);
  padding: 0px var(--padding);
  background-image: var(--background-img);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  block-size: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr 1fr 1fr;
  align-items: end;
  /*padding-block-start: 4px;*/
}

.with-pseudo-elements::before {
  content: "";
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  color: var(--main-color);
  display: flex;
  justify-self: end;
  align-self: start;
  block-size: 25px;
  inline-size: 25px;
  top: var(--padding);
  position: relative;
}

.with-pseudo-elements::after {
  content: "";
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  color: var(--text-color);
  block-size: 25px;
  inline-size: 25px;
  position: relative;
  align-self: end;
  justify-self: start;
  bottom: var(--padding);
}

.before::after {
  display: var(--display);
  content: "";
  background-color: var(--menu-color);
  box-shadow: 0px 0px 4px 2px var(--menu-color);
  border-radius: 100%;
  height: 9px;
  width: 9px;
  align-self: center;
  margin: 0px 10px;

}

.before {
  font-family: 'IBM Plex Mono', monospace, sans-serif;
  font-size: 18px;
  position: absolute;
  top: var(--padding);
  color: var(--main-color);
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-self: end;
}



.item-header {
  align-self: center;
}

.main {
  margin: 40px 0px;
}

.section:not(:first-child) {
  padding-block-start: 50px;
}

.section:last-child {
  padding-block-start: 35px;
}

.title {
  font-family: 'IBM Plex Mono', monospace, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--accent-color);
  text-shadow: 4px 4px var(--main-color);
  font-weight: 700;
  margin: 0;
}

.header .title {
  margin-block-end: 7px;
}

/*.header .title-h1 {
  margin-block-end: -3px;
}*/

.underlined {
  text-shadow: 2px 2px var(--main-color);
  text-decoration: none;
  display: inline-block;
}

.underlined:hover {
  border-block-end: 1px solid;
  border-color: var(--text-color);
  cursor: pointer;
  margin-bottom: -1px;
}

.underlined:focus-visible, .underlined:focus {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
    /*border: 1px solid var(--text-color);*/
}

.text {
  font-family: 'IBM Plex Mono', monospace, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--text-color);
}

.caption {
  color: var(--caption-color);
  font-weight: 700;
  margin-block-end: 20px;
  margin-block-start: 0px;
}

.caption-item {
  background-color: var(--main-color);
  color: var(--caption-item-color);
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}

.header .caption-item {
  margin-top: 5px;
}

.item {
  background-color: var(--main-color);
  color: var(--caption-item-color);
  font-weight: 400;
  margin: 0;
  margin-block-start: 20px;
}

.regular {
  color: var(--text-color);
  font-weight: 400;
  margin: 0;
  margin-block-start: 10px;
}

.regular:not(:last-child) {
  margin-block-end: 20px;
}

.text-block:not(:first-child) {
  padding-block-start: 4.5px;
}

.image {
  display: block;
  max-width: 100%;
  margin: 0;
  margin-block-start: 10px;
}

.footer {
  block-size: 100dvh;
  display: grid;
  align-items: center;
  /*justify-content: center;*/
}

.footer .with-pseudo-elements::before {
  margin-block-start: 10px;
}


.title-footer {
  text-shadow: 2px 2px var(--main-color);
  justify-self: center;
}




@media (768px <= width < 1024px) {
  :root {
    --padding: 20px;
  }

  .header__theme-menu {
    margin-block-start: 115px;
  }

  .header__theme-menu-button {
    padding-block-start: 3px;
  }

  .item-header {
    align-self: start;
    justify-self: end;
    width: 364px;
  }

  .header .caption-item {
    margin-block-start: 50px;
  }

  .title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    
  }

  .header .title {
    margin-inline-start: -20px;
    margin-block-start: 10px;
  }

  .section {
    margin-block-start: 30px;
  }

  .why-hard {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 20px;
  }

  .why-hard:first-of-type {
    margin-block-start: 60px;
  }

  /*main:nth-child(3) {
    margin-block-start: 10px;
  }*/

  .why-hard .caption {
    grid-column: 1;
  }

  .why-hard .caption-item {
    grid-column: 2;
    block-size: min-content;
    margin: 0;
  }

  .why-hard .regular {
    grid-column: 2;
  }

  .caption:not(:last-child) {
    max-width: 236px;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin-block-start: 20px;
    
  }

  .image {
    margin: 0;
  }

  .image:first-child {
    grid-column: span 2;
  }

  .street {
    grid-column: 2/-1;
  }

  .ice-cream {
    grid-row: span 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .tape {
    grid-row: 2/-1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 60px;
    justify-content: unset;
    
  }

  .title-footer {
    margin-block-start: 3px;
    justify-self: center;
  }

  /*.footer::before {
    justify-self: flex-end;
    margin-top: 10px;
  }

  .footer::after {
    margin-bottom: 10px;
  }*/
}







@media (1024px <= width) {
    :root {
    --padding: 20px;
  }

  .page {
    margin: auto;
  }

  .header__theme-menu {
    top: 20px;
    /*margin-top: -25px;*/
    grid-row: 1;
    justify-self: center;
    
  }

  .header.with-pseudo-elements::before, .header.with-pseudo-elements::after{
    position: absolute;
  }

  .header__theme-menu-list {
    /*direction: rtl;*/
    grid-auto-flow: column;
    max-width: min-content;
  }

  .header__theme-menu-button {
    padding-block-start: 3px;
  }

  .header .caption-item {
    /*margin-block-start: 58px;*/
    margin-block-start: 42px;
  }

  .item-header {
    align-self: start;
    justify-self: end;
    width: 491px;
    grid-row: 4;
  }

  .title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    
  }

  .header .title {
    margin-inline-start: -20px;
    /*margin-block-start: 10px;*/
    /*margin-block-start: -16px;*/
    padding-block-end: 16px;
    grid-row: 3;
  }

  .section {
    margin-block-start: 30px;
  }

  .why-hard {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 20px;
  }

  .why-hard:first-of-type {
    margin-block-start: 60px;
  }

  /*main:nth-child(3) {
    margin-block-start: 10px;
  }*/

  .why-hard .caption {
    grid-column: 1;
  }

  .why-hard .caption-item {
    grid-column: 2;
    block-size: min-content;
    margin: 0;
  }

  .why-hard .regular {
    grid-column: 2;
  }

  .caption:not(:last-child) {
    max-width: 314px;
  }

 .how-to-concentrate-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: min-content min-content;*/
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 20px;
    row-gap: 20px;
  }

  .text-block:not(:first-child) {
    padding-block-start: 0px;
  }

  .how-to-concentrate-content .caption-item {
    /*grid-row: 1;*/
    margin-block-start: 0;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin-block-start: 20px;
    
  }

  .image {
    margin: 0;
  }

  .image:first-child {
    grid-column: span 2;
  }

  .street {
    grid-column: 2/-1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .ice-cream {
    grid-row: span 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .tape {
    grid-row: 2/-1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 60px;
    justify-content: unset;
    
  }

  .title-footer {
    justify-self: center;
  }

}