/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --backround-color: #000028;
  --caption-item-color: #000028;
  --caption-color:#FF0070;
  --main-color: #FF0070;
  --menu-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #DB00FF;
  --padding: 10px;
  --background-img: url('../images/cover-image-dark.png');
  --border-opacity: 0.4;
  --border-color: 255, 0, 112;
  --display: block;

  --visually-hidden-color: inherit;
  --visually-hidden-position: static;
  --visually-hidden-size: auto;
  --visually-hidden-margin: 0;
  --visually-hidden-gap: initial;
  --visually-hidden-white-space: normal;
  --visually-hidden-clip-path: none;
  --visually-hidden-clip: auto;
  --visually-hidden-overflow: visible;
}
